.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .dashboard__actions {
    background-color: lighten($headerFooter-bg, 5%);
    border-top: 0.5rem solid $headerFooter-bg;
    border-bottom: 0.5rem solid $headerFooter-bg;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    align-self: stretch;
    .dashboard__action {
      > a {
        text-decoration: none;
        color: inherit;
        text-shadow: $tsh;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .dashboard__action:not(:last-child) {
      margin-right: 5rem;
    }
  }
}
