*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header_height 1fr $footer_height;
  min-height: 100vh;
  font-size: 2rem;
  background-color: $app-bg;
  color: $app-c;
  max-width: $app-w;
  margin: 0 auto;
  overflow-x: hidden;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}
